<!-- views/chatRoom.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room</title>
</head>
<body>
  <h2>Chat Room</h2>
  <hr>
  <div id="messages"></div>

  <form id="form" action="#">
    <input id="m" autocomplete="off" />
    <button>Send</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(function () {
      const socket = io();

      // Listen for chat messages
      socket.on('chat message', function (message) {
        $('#messages').append(message + '<br>');
      });

      // Handle form submission
      $('form').submit(function () {
        const msg = $('#m').val();
        const fullMessage = '<%= name %>: ' + msg;
        socket.emit('chat message', fullMessage);
        $('#m').val('');
        return false;
      });
    });
  </script>
</body>
</html>
