<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <a href="/member/login">[구글 로그인]</a>
    <a href="/member/signup">[회원가입]</a>
</body>
</html>