<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <% if(typeof passport !== 'undefined'){%>
        <h2>반가워요 ! <%=passport.user.name%>님</h2>
        <a href="/chat">[채팅하러가기]</a>
        <a href="/member/logout">[로그아웃]</a>
    <%} else{ %>
        <a href="/member/login">[구글 로그인]</a>
        <%}%>
</body>
</html>