<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/chat/create" method="post" >
        방 이름 : <input type="text" name="name"><br>
        소개 : <input type="text" name="info"> <br>
        <input type="submit" value="방 만들기">
    </form>
</body>
</html>